<!DOCTYPE html>
<html>
<head>
<title>Home</title>
</head>
<body>
Welcome to home page!! {{name}}
<form action="/items", method="get">
    <textarea name ='text' style="width: 1122px; height: 178px;"></textarea><br>
    <input type="checkbox" name="analysed">Punc analysed</br>
    <input type="checkbox" name="capLetter">Capital letter</br>
    <input type="checkbox" name="charCount">Character Count</br>
    <input type="submit" value="submit">
</form>
<br>
<form action="/navigator", method="get">
    <input type="submit" value="Navigator--->">
</form>
</body>
</html>